<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Destination</title>
</head>
<body>
    <a href="/travel">Home</a>
    <a href="/logout">Logout</a>
    <hr>
    <h1>{{trip.desti}}</h1>
    <h3>Planned by: {{trip.leader.name}}</h3>
    <h3>Description: {{trip.descr}}</h3>
    <h3>Start Date: {{trip.start}}</h3>
    <h3>End Date: {{trip.end}}</h3>
    <hr>
    <h2>Users joining the trip:</h2>
    {%for user in otherTravelers%}
    <p>{{user.name}}</p>
    {%empty%}
    <p>no other users signed up for this.</p>
    {%endfor%}
</body>
</html>